<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        {{!-- to access partials --}}
        {{>header}}  
        {{!-- <h2>About Page via rendering through handlers</h2> --}}
        <img class="portrait" src="/img/robo.webp">
        {{>footer}}
    </body>
</html>