<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        {{>header}}  
        <p>This site is created by Athira. It uses data from OpenWeatherMap !!</p>
        <img class="portrait" src="/img/robo.webp">
        {{>footer}}
    </body>
</html>